@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Outparts.com</h1>
    <p>Motorhome and camper parts sold direct at wholesale price. We supply original equipment manufacturers and sell the same parts to you. </p>
</div>
